@import url(Cesium/Widgets/widgets.css);
@import url(css/MaterialIcons.css);
@import url(css/material.indigo-pink.min.css);
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}
.mdl-dialog {
  position: relative;
  left: 60%;
}
.mdl-dialog__title {
  font-size: 100%;
}
.mdl-snackbar {
  background-color: rgb(255,50,50);
}
.mdl-list__item-primary-content {
  color: rgb(150,150,150);
}

#cesiumContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
