@import url(Cesium/Widgets/widgets.css);
@import url(css/MaterialIcons.css);
@import url(css/material.indigo-pink.min.css);

.mdl-list__item {
  min-height: 10px;
  padding: 5px;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

#mission-meals-dialog {
  left: 25%;
  width: 50%
}

.mdl-dialog {
  position: relative;
  left: 60%;
}
.mdl-dialog__title {
  font-size: 14pt;
}

.mdl-snackbar {
  background-color: rgb(255,50,50);
}
.mdl-list__item-primary-content {
  color: black;
  font-weight: bold;
}

#fixedItems .mdl-list__item {
  font-size: 90%;
  line-height: 90%;
  padding: 5px;
}

#nextActions a, span {
  padding: 5px;
}

#nextActions a:hover {
  background-color: lightgrey;
  color: green;
}

#cesiumContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
