@import url(Cesium/Widgets/widgets.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://code.getmdl.io/1.3.0/material.indigo-pink.min.css);
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  position: absolute;
  top: 0;
  color: white;
}
.mdl-dialog {
  position: relative;
  left: 60%;
}
.mdl-snackbar {
  background-color: rgb(255,50,50);
}
#cesiumContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
