.container {
  display: flex;
  flex-direction: column;
  overflow: auto;

}


.input {
  background-color: transparent;
  color: white;
  border: none;
}

table {
  width: 100%;
}

.max-name-col {
  white-space: nowrap !important;
  max-width: 300px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-left: 5px;
  margin-right: 5px;
}
