.menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  max-width: 400px;
  min-width: 250px;
  width: 25%;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.logo {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 30px;
  filter: brightness(10) grayscale(100%);  
}