body { margin: 0; }
html, body, .map-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.mat-dialog-container {
  background-color: rgba(66, 66, 66,0.9);
}

.mat-drawer-backdrop {
  background-color: rgba(0,0,0,0.4) !important;
}